@using ComicTracker.Web.Infrastructure;
@using ComicTracker.Web.ViewModels.ViewComponents;

@addTagHelper *, ComicTracker.Web

@model VCEntityViewModel

<div>
    <ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link show active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-selected="true">Description</a>
        </li>
        @foreach (var entityLinkingTitle in Model.EntityLinkings.Select(el => el.Name))
        {
            <li class="nav-item">
                <a class="nav-link show" id="pills-home-tab" data-toggle="pill" href="#pills-@entityLinkingTitle.ToLower()" role="tab" aria-controls="pills-@entityLinkingTitle.ToLower()" aria-selected="true">@entityLinkingTitle</a>
            </li>
        }
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade active show" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
            <partial name="_EntityDescription" model="Model" />
        </div>

        @foreach (var elModel in Model.EntityLinkings)
        {

            <div class="tab-pane fade" id="pills-@elModel.Name.ToLower()" role="tabpanel" aria-labelledby="pills-@elModel.Name.ToLower()-tab">
                <h3 class="tab-title">@elModel.Name</h3>

                @if (elModel.EntityLinkings.Count > 0)
                {
                    @if (this.User.IsAdmin())
                    {
                        <a class="btn btn-primary col-xl-4 col-6 mt-2 mb-2"
                           asp-controller="@elModel.Name.Substring(0, elModel.Name.Length - 1)"
                           asp-action="Create"
                           asp-route-id="@Model.Id"
                           asp-route-number="@(elModel.EntityLinkings.Count + 1)">
                            <i class="fa fa-plus"></i> <b>Create new @elModel.Name.Substring(0, elModel.Name.Length - 1).ToLower() </b>
                        </a>
                    }
                    <table class="table table-bordered">
                        <tbody>
                            @foreach (var entity in elModel.EntityLinkings)
                            {
                                var numberColSpan = 3;

                                var entityTitleExists = entity.Title != null;

                                if (entityTitleExists)
                                {
                                    numberColSpan--;
                                }

                                <tr>
                                    @if (entity.CoverPath != null)
                                    {
                                        numberColSpan--;

                                        <td colspan="1" class="col-3 text-md-center">
                                            <a asp-controller="@elModel.Name.Substring(0, elModel.Name.Length - 1)" asp-route-id="@entity.Id">
                                                <img src="@entity.CoverPath" alt="image description" class="miniThumbnail">
                                            </a>
                                        </td>
                                    }
                                    <td colspan="@numberColSpan" class="col-1 text-md-center">
                                        <a asp-controller="@elModel.Name.Substring(0, elModel.Name.Length - 1)" asp-route-id="@entity.Id">
                                            @entity.Number
                                        </a>
                                    </td>
                                    @if (entityTitleExists)
                                    {
                                        <td colspan="1" class="col-8 text-md-center">
                                            <a asp-controller="@elModel.Name.Substring(0, elModel.Name.Length - 1)" asp-route-id="@entity.Id">
                                                @entity.Title
                                            </a>
                                        </td>
                                    }
                                </tr>
                            }

                        </tbody>
                    </table>
                }
                else if (Model.EntityTypeName == "Series")
                {
                    <div class="container text-center col-8">
                        <h3>
                            No @elModel.Name.ToLower() for this @Model.EntityTypeName.ToLower().
                        </h3>
                        @if (this.User.IsAdmin())
                        {
                            <a class="btn btn-primary text-center col-12 templateCreator" value="@elModel.Name.Substring(0, elModel.Name.Length - 1)">
                                Create a select number of empty @elModel.Name.ToLower()?
                            </a>

                            <div id="@elModel.Name.ToLower()Modal" class="modal">
                                <!-- Modal content -->
                                <div class="modal-content col-xl-6 col-12">
                                    <span class="close text-right pr-2">&times;</span>
                                    <h4 class="mt-2">Please input the number of @elModel.Name you want added:</h4>
                                    <input class="form-control col-xl-2 col-4 offset-xl-5 offset-4 text-center" />
                                    <span id="@(elModel.Name.ToLower())Validation" class="text-danger field-validation-error"></span>
                                    <button type="submit"
                                            class="btn btn-primary col-xl-2 col-6 offset-xl-5 offset-3 mt-3 templateSubmit"
                                            seriesId="@Model.Id"
                                            value="@elModel.Name.Substring(0, elModel.Name.Length - 1)">
                                        Submit
                                    </button>
                                </div>
                            </div>

                        }
                    </div>
                }
            </div>
        }
    </div>
</div>
