@using ComicTracker.Services.Data.Issue.Models;
@using ComicTracker.Web.Infrastructure;

@using static ComicTracker.Common.GlobalConstants;

@addTagHelper *, ComicTracker.Web

@model IssueDetailsServiceModel

@{
    var defaultTitle = string.Format(DefaultSeriesRelatedEntityTitleFormat, Model.SeriesTitle, Model.Number);

    // If there is no Model.Title, a default title is displayed in this format: {SeriesTitle} #{Number of Issue}
    ViewData["Title"] = @Model.Title != null ? Model.Title : defaultTitle;

    if (Model.Title == null)
    {
        Model.Title = defaultTitle;
    }

    if (Model.Description == null)
    {
        Model.Description = DefaultDescription;
    }
}

@section Styles
{
    <link rel="stylesheet" href="~/css/details.css" asp-append-version="true" />
}

<div class="row">
    <div class="col-xl-4">
        <partial name="_EntityThumbnail" model="Model" />
        <partial name="_EntityAdditionalInfo" model="Model" />
    </div>
    <div class="container-fluid col-xl-8">
        <partial name="_EntityTitle" model="Model" />
        <partial name="_EntityEditDelete" model="Model" />
        <partial name="_EntityRelatedSeries" model="Model" />
        <div class="product-details">
            <h3 class="undertext">Number: #@Model.Number</h3>
        </div>
        @if (Model.VolumeId != null)
        {
            <a asp-controller="Volume" asp-route-id="@Model.VolumeId">
                @if (Model.VolumeTitle != null)
                {
                    <h2 class="undertext">Volume: @Model.VolumeTitle</h2>
                }
                else
                {
                    <h2 class="undertext">Volume: @Model.VolumeNumber</h2>
                }
            </a>
            @if (this.User.IsAdmin())
            {
                <form class="mt-3 mb-3" method="post"
                      asp-controller="Issue"
                      asp-action="RemoveVolume"
                      asp-route-id="@Model.Id">
                    <button class="form-control btn-danger col-xl-4 col-8"><b>Remove Volume Relation</b></button>
                </form>
            }
        }
        @if (Model.ArcId != null)
        {
            <a asp-controller="Arc" asp-route-id="@Model.ArcId">
                @if (Model.ArcTitle != null)
                {
                    <h3 class="undertext">Arc: @Model.ArcTitle</h3>
                }
                else
                {
                    <h3 class="undertext">Arc: @Model.ArcNumber</h3>
                }
            </a>
            @if (this.User.IsAdmin())
            {
                <form class="mt-3 mb-3" method="post"
                      asp-controller="Issue"
                      asp-action="RemoveArc"
                      asp-route-id="@Model.Id">
                    <button class="form-control btn-danger col-xl-4 col-8"><b>Remove Arc Relation</b></button>
                </form>
            }
        }
        <partial name="_EntityScorePartial" model="Model" />
        <partial name="_EntityDescription" model="Model" />
    </div>
</div>

@section Scripts {
    <script src="@Url.Content("~/js/details.js")" type="text/javascript"></script>
}