@model SeriesDetailsViewModel

@{
    ViewData["Title"] = @Model.Title;
}

@section Styles
{
    <link rel="stylesheet" href="~/css/details.css" asp-append-version="true" />
} 

<div class="row">
    <div class="col-xl-4">
        <img src="@Model.CoverPath" class="img-thumbnail coverImage" />
    </div>
    <div class="container-fluid col-xl-8">
        <div class="product-details">
            <h1 class="entityTitle">
                @Model.Title
            </h1>
        </div>
        <div class="product-details">
            @if (Model.Ongoing)
            {
                <h3 class="undertext">Ongoing</h3>
            }
            else
            {
                <h3 class="undertext">Completed</h3>
            }
        </div>
        <div>
            <ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link show active" id="pills-home-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-selected="true">Description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link show" id="pills-issues-tab" data-toggle="pill" href="#pills-issues" role="tab" aria-controls="pills-issues" aria-selected="false">Issues</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link show" id="pills-arcs-tab" data-toggle="pill" href="#pills-arcs" role="tab" aria-controls="pills-arcs" aria-selected="false">Arcs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link show" id="pills-volumes-tab" data-toggle="pill" href="#pills-volumes" role="tab" aria-controls="pills-volumes" aria-selected="false">Volumes</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade active show" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                    <h3 class="tab-title">Description</h3>
                    <p>
                        @Model.Description
                    </p>

                </div>
                <div class="tab-pane fade" id="pills-issues" role="tabpanel" aria-labelledby="pills-issues-tab">
                    <h3 class="tab-title">Issues</h3>
                    <table class="table table-bordered">
                        <tbody>
                            @foreach (var issue in Model.Issues)
                            {
                                <tr>
                                    @if (issue.CoverPath != null)
                                    {
                                        <td class="col-3 text-md-left">
                                            <img src="@issue.CoverPath" alt="image description">
                                        </td>
                                    }
                                    <td class="col-2 text-md-center">@issue.Number</td>
                                    @if (issue.Title != null)
                                    {
                                        <td class="col-7 text-md-center">@issue.Title</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="pills-arcs" role="tabpanel" aria-labelledby="pills-arcs-tab">
                    <h3 class="tab-title">Arcs</h3>
                    <table class="table table-bordered">
                        <tbody>
                            @foreach (var arc in Model.Arcs)
                            {
                                <tr>
                                    @if (arc.CoverPath != null)
                                    {
                                        <td class="col-3 text-md-left">
                                            <img src="@arc.CoverPath" alt="image description">
                                        </td>
                                    }
                                    <td class="col-2 text-md-center">@arc.Number</td>
                                    @if (arc.Title != null)
                                    {
                                        <td class="col-7 text-md-center">@arc.Title</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="pills-volumes" role="tabpanel" aria-labelledby="pills-volumes-tab">
                    <h3 class="tab-title">Volumes</h3>
                    <table class="table table-bordered">
                        <tbody>
                            @foreach (var volume in Model.Volumes)
                            {
                                <tr>
                                    @if (volume.CoverPath != null)
                                    {
                                        <td class="col-3 text-md-left">
                                            <img src="@volume.CoverPath" alt="image description">
                                        </td>
                                    }
                                    <td class="col-2 text-md-center">@volume.Number</td>
                                    @if (volume.Title != null)
                                    {
                                        <td class="col-7 text-md-center">@volume.Title</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
